{% extends "base.html" %}
{% load i18n %}

{% block content %}
<script language="JavaScript">
	jQuery(document).ready(function(){
		$("#register-send-button").button();
	});
</script>
<table>
<form method="post" action=".">
	{% csrf_token %}
	{% include "form/form-error.html" %}
  	{% for field in form %}
		<tr>
			<td>{{ field.label_tag }}</td>
			<td>{{ field }}</td>
			{% include "form/field-error.html" %}
		</tr>
	{% endfor %}
	<tr>
		<td>
			<input id="register-send-button" type="submit" value="{% trans 'Submit' %}" />
		</td>		
	</tr>
</form>
</table>
{% endblock %}
